<div class="wood-container age">
    <div class="row">
        <h1>YOU MUST BE AT LEAST 21 YEARS OF AGE TO TAKE THE QUIZ.<br/>PLEASE ENTER YOUR DATE OF BIRTH TO CONTINUE.</h1>
    </div>
    <div class="row">
        <label><img src="/images/birthday.png" alt="Birthday"></label>
    </div>
    <form name="ageGateForm" role="form">
        <div class="row date-of-birth">
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select id="month" name="month" class="form-control">
                        <option value="">Month</option>
                        <!-- USE ANGULAR TO POPULATE THESE OPTIONS -->
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select name="day" class="form-control">
                        <option value="">Day</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <select name="year" class="form-control">
                        <option value="">Year</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-sm-offset-4 col-md-offset-4">
                <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-click="navCtrl.goToPath('/landing')">
                <!-- <a id="submit-btn" href=""><img src="/images/submit.png" alt="" ng-click="navCtrl.goToPath('/landing')"></a> -->
            </div>
        </div>
    </form>
</div>