<div class="wood-container blank">
    <h1>You could win the Journey of a lifetime.</h1>
    <p text-center>You must be of legal drinking age to enter this site.</p>
    <form name="entryForm" role="form" novalidate>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="form-group">
                    <label for="birthday">
                        Date of Birth
                        <!-- <img src="images/birthday.png" alt="Birthday"> -->
                    </label>
                    <input type="date" class="form-control date-picker" name="birthday" id="birthday" ng-model="newEntry.dob" required>
                    <div class="alert alert-danger" ng-if="entryForm.birthday.$dirty && !navCtrl.checkDate()">
                        Sorry, you must be 21 years old or older to enter.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="form-group">
                    <label for="terms">
                        <input type="checkbox" class="terms-checkbox" name="terms" id="terms" value="" ng-model="newEntry.terms" required>
                        By submitting I agree to the <a class="terms" href="" ng-click="navCtrl.goToPath('/terms')">Official Rules</a>.
                    </label>
                    <div class="alert alert-danger" ng-if="entryForm.terms.$dirty && !newEntry.terms">
                        Please agree to the Official Rules.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-disabled="!navCtrl.checkDate() || !newEntry.terms" ng-click="navCtrl.createEntry()">
            </div>
        </div>
    </form>
</div>