<div class="wood-container">
    <h1>You could win the Journey of a lifetime.</h1>
    <form name="entryForm" role="form" ng-submit="entryForm.$valid && navCtrl.createEntry()" novalidate>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="name">First and Last Name</label>
                    <input type="text" class="form-control" placeholder="Jane Doe" name="name" id="name" ng-model="newEntry.name" required>
                    <div class="alert alert-danger" ng-if="entryForm.name.$dirty && entryForm.name.$invalid">
                    Please input your name
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="(###) ###-####" name="phone" id="phone" ng-model="newEntry.phone" ng-pattern="/^(\d\W?)?(\(\d{3}\)|\d{3})\W?\d{3}\W?\d{4}$/" required>
                    <div class="alert alert-danger" ng-if="entryForm.phone.$dirty && entryForm.phone.$invalid">
                    Please input your phone number with area code
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="jane@example.com" name="email" id="email" ng-model="newEntry.email" required>
                    <div class="alert alert-danger" ng-if="entryForm.email.$dirty && entryForm.email.$invalid">
                    Please input your email address
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" placeholder="1234 Example St." name="address" id="address" ng-model="newEntry.addr" required>
                    <div class="alert alert-danger" ng-if="entryForm.address.$dirty && entryForm.address.$invalid">
                    Please input your address
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="number" class="form-control" placeholder="#####" name="zipcode" id="zipcode" ng-model="newEntry.zip" ng-pattern="/^\d{5}$/" required>
                    <div class="alert alert-danger" ng-if="entryForm.zipcode.$dirty && entryForm.zipcode.$invalid">
                    Please input your zip code
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <button type="submit" class="wood-btn" ng-click="submitted=true"  ng-hide="submitted">SUBMIT</button>
                <div class="alert alert-danger" ng-if="submitted && entryForm.$invalid || !navCtrl.checkDate()">
                    Sorry, you must be 21 years old or older and have agreed to the Official Rules to enter.
                </div>
            </div>
        </div>
    </form>
</div>