<!-- Authorizing Page -->
<div class="row">
<div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
<div class="wood-container">
    <div class="row text-center">
        <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
            <h2 ng-if="progress < 100">Uploading Video...</h2>
            <h2 ng-if="progress >= 100">Video Uploaded!</h2>
            <div ng-include src="'views/_progress.html'"></div>
            <h1>Almost done...</h1>
            <div class="submit-text">
                <button type="button" class="fb-btn" ng-click="getFacebookInfo()"><img src="/images/fb-login.png" alt="Authorize Facebook"></button> to finish entering.
            </div>
            <p>We promise to never post anything without your permission.</p>
        </div>
    </div>
    <form name="entryForm" role="form" ng-submit="entryForm.$valid && navCtrl.createEntry()" novalidate>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" placeholder="Jane Doe" name="name" id="name" ng-model="userInfo.name" required>
                    <div class="alert alert-danger" ng-if="entryForm.name.$dirty && entryForm.name.$invalid">
                    Please input your name
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="(###) ###-####" name="phone" id="phone" ng-model="userInfo.phone" ng-pattern="/^(\d\W?)?(\(\d{3}\)|\d{3})\W?\d{3}\W?\d{4}$/" required>
                    <div class="alert alert-danger" ng-if="entryForm.phone.$dirty && entryForm.phone.$invalid">
                    Please input your phone number with area code
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" placeholder="jane@example.com" name="email" id="email" ng-model="userInfo.email" required>
                    <div class="alert alert-danger" ng-if="entryForm.email.$dirty && entryForm.email.$invalid">
                    Please input your email address
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="birthday">Date of Birth</label>
            <div class="date-of-birth hidden-xs hidden-sm">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <select name="month" class="form-control" ng-model="userInfo.birthday.month" ng-options="month for month in gateCtrl.months">
                            <option value="">Month</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <select name="day" class="form-control" ng-model="userInfo.birthday.day" ng-options="day for day in gateCtrl.days">
                            <option value="">Day</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <select name="year" class="form-control" ng-model="userInfo.birthday.year" ng-options="year for year in gateCtrl.years">
                            <option value="">Year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="date-of-birth hidden-md hidden-lg">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <input type="date" class="form-control date-picker" name="birthday" placeholder="mm/dd/yyyy" id="birthday" ng-model="userInfo.birthday" required>
                    </div>
                </div>
            </div>
            <!-- Legal Age Alert -->
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-danger" ng-if="gateCtrl.createValidDate() && !gateCtrl.isLegalDate()">
                    Sorry, you must be 21 years old or older to enter.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" placeholder="1234 Example St." name="address" id="address" ng-model="userInfo.addr" required>
                    <div class="alert alert-danger" ng-if="entryForm.address.$dirty && entryForm.address.$invalid">
                    Please input your address
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="number" class="form-control" placeholder="#####" name="zipcode" id="zipcode" ng-model="userInfo.zip" ng-pattern="/^\d{5}$/" required>
                    <div class="alert alert-danger" ng-if="entryForm.zipcode.$dirty && entryForm.zipcode.$invalid">
                    Please input your zip code
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <button type="submit" class="wood-btn" ng-click="submitted=true">SUBMIT</button>
                <div class="alert alert-danger" ng-if="submitted && entryForm.$invalid">
                    Please fill in all the entries to continue.
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Authorizing Page -->
