<!-- Finish Quiz Page -->
<div class="wood-container end">
    <h1>Quiz</h1>
    <h2>Where should your next adventure be?</h2>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-click="navCtrl.goToPath('/adventure')">
            <!-- <a id="end-quiz-btn" href="" ng-click="navCtrl.goToPath('/adventure')"><img src="/images/submit.png" alt=""></a> -->
        </div>
    </div>
</div>
<!-- Finish Quiz Page -->