<!-- Journey Page -->
<div class="wood-container text-center">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
            <h2>Legend tells of a mysterious place accessible only to those who live life unfiltered. Many will attempt to get there, few will be chosen. Do you have what it takes to discover unfiltered?</h2>
            <p>In 10 seconds or less, show us how you live life unfiltered and you could win a trip to Belize.</p>
            <div class="btn btn-default" ng-file-select="onFileSelect($files)" data-multiple="false"><span class="hidden-xs">Upload Video</span><span class="visible-xs">Take or Choose Video</span></div>
        </div>
    </div>
</div>
<!-- Journey Page -->