<!-- Questions Page -->
<div class="wood-container questions">

    <div class="row">
        <div class="col-sm-12">
            <h1>Question: 1</h1>
            <h2>If you were stuck on a deserted island what would you bring? (Pick 1)</h2>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer1" value="option1" checked>
                Knife
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer2" value="option2">
                Beer
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer3" value="option3">
                Glasses
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer4" value="option4">
                Fishing Line
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer5" value="option5">
                Volleyball
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer6" value="option6">
                Cell Phone
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer7" value="option7">
                First Aid
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer8" value="option8">
                Snacks
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer9" value="option9">
                Guitar
              </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" name="answer" id="answer10" value="option10">
                Guitar
              </label>
            </div>
        </div>

        <div class="col-sm-6 col-sm-offset-6">
            <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-click="navCtrl.goToPath('/finish')">
            <!-- <a id="next-quiz-btn" href=""><img src="/images/submit.png" alt="" ng-click="navCtrl.goToPath('/finish')"></a> -->
        </div>
    </div>

</div>
<!-- Questions Page -->