<!-- Social Page -->
<div class="wood-container social">
    <h1>Thank You</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-click="navCtrl.goToPath('/')">
            <!-- <a id="adventure-quiz-btn" href=""><img src="/images/submit.png" alt="" ng-click="navCtrl.goToPath('/')"></a> -->
        </div>
    </div>

    <h2>For an Extra Chance to Win</h2>
</div>
<!-- Social Page -->