<!-- Start Quiz Page -->
<div class="wood-container start">
    <h1>You Could Win The Journey of a Lifetime</h1>
    <h2>Take our Quiz</h2>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <input type="image" src="/images/submit.png" alt="Submit" class="submit-btn" href="" ng-click="navCtrl.goToPath('/questions')">
            <!-- <a id="start-quiz-btn" href=""><img src="/images/submit.png" alt="" ng-click="navCtrl.goToPath('/questions')"></a> -->
        </div>
    </div>
</div>
<!-- Start Quiz Page -->