<!-- Landing Page -->
<div class="row"></div>

    <!-- Landing Page -->
    <div class="wood-container landing">
        <h1>Enter Your Info for a Change to Win</h1>

        <form role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="BIB Number">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="BIB Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="BIB Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="BIB Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="text" class="form-control" placeholder="BIB Number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-6 col-sm-8 col-sm-offset-6">
                    <p class="submit-text">By Submitting I agree to the <a class="terms" href="">terms and conditions.</a></p>
                    <a id="submit-btn" href=""><img src="/images/submit.png" alt=""></a>
                </div>
            </div>
        </form>
    </div>
    <!-- Landing Page -->

    <!-- Start Quiz Page -->
    <div class="wood-container start">
        <h1>You Could Win The Journet of a Lifetime</h1>
        <h2>Take out Quiz</h2>

        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
                <a id="start-quiz-btn" href=""><img src="/images/submit.png" alt=""></a>
            </div>
        </div>
    </div>
    <!-- Start Quiz Page -->
</div>
<!-- Landing Page -->
