<div class="container">
    <div class="DU-logo" ng-if="location.path () == '/' || location.path () == '/start' || location.path () == '/finish'">
        <img src="/images/discover-unfiltered-logo.png" alt="Shocktop logo in a compass">
    </div>

    <ng-view class="view-animate"></ng-view>

    <div class="bottle-container" ng-if="location.path () == '/' || location.path () == '/start' || location.path () == '/finish'">
        <img src="/images/beer-bottles.png" alt="Shocktop Bottles">
    </div>
</div>