// Mixin
@mixin keyframes($name) {
  @-moz-keyframes #{$name}    { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name}      { @content; }
  @-ms-keyframes #{$name}     { @content; }
  @-khtml-keyframes #{$name}  { @content; }
  @keyframes #{$name}         { @content; }
}

// Create the keyframes using the mixin
@include keyframes(appear) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(disappear) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Animation */

.ng-enter { z-index: 9999;}
.ng-leave { z-index: 8888;}

.view-animate.ng-enter,
.view-animate.ng-enter.ng-enter-active {
    @include animation(appear 1s ease-in 1);
}
.view-animate.ng-leave,
.view-animate.ng-leave.ng-leave-active {
    @include animation(disappear 1s ease-out 1);
}

.view-animate.ng-enter, .view-animate.ng-leave {
  width:100%;
  position:absolute;
}
