@import "bootstrap";
@import "bourbon";

@import "colors";
@import "animation";
@import "typography";

body {
    background: #023b3f url('/images/blue-wood.png') repeat;
    background-size: 100%, 100%;
    background-position: bottom center;
    color: white;
}

.wrapper {
    background: url('/images/beach.jpg') no-repeat;
    background-size: 100%, 100%;
    font: normal 100% $font-family;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.333333333em;
}

p {
    font-size: 1em;
    text-align: center;
}

img,
input {
    max-width: 100%;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    a {
        color: #FFF;
        text-decoration: underline;
    }
}

input[type='checkbox']{
    cursor: pointer;
    width: 1em;
}

button {
    width: 90%;
    color: #000;
    vertical-align: middle;
    background: transparent;
    border: none;
}

.DU-logo {
    width: 35%;
    max-width: 300px;
    margin: 5% auto 2.5%;
}

.wood-container {
    background: url('/images/wood.png') no-repeat;
    background-size: 100% 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 10%;
}

.footer {
    margin-top: 30px;
}

/**************************************************************/

.form-group {
    margin: 0%;
}

.progress {
    width: 75%;
    margin: 0% auto;
}

.fb-btn {
    padding: 0;
    width: 5em;
}

.submit-text {
    color: #FFF;
    vertical-align: middle;
    padding: 0;
    display: block;
}

.scroll-box {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    padding: 0.5em;
    width: 100%;
    height: 20em;
    margin: 5% 0% 4%;
    overflow-y: scroll;
    #terms-btn {
        right: 0px;
    }
}

.alert {
    width: 100%;
}

/** Form validation **/
.form-control.ng-invalid.ng-dirty {
    border-color: $invalid-red;
    border-width: 2px;
}
.form-control.ng-valid.ng-dirty {
    border-color: $valid-green;
    border-width: 2px;
}

/* Animations */
.view-animate.ng-enter, .view-animate.ng-leave {
  @include transition-delay (0.8s);
  @include transition (all ease-in-out 0.6s);
  width:100%;
  position:absolute;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
.view-animate.ng-enter-stagger, .view-animate.ng-leave-starger {
    @include transition-delay (0.8s);
}
.animate-if.ng-enter, .animate-if.ng-leave {
  @include animation-delay (0.8s);
  @include transition (all ease-in-out 0.6s);
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}
