/* Media Queries */

/* 1024px for tablets - landscape */
@media screen and (min-width: 768px) {
    html {
        font-size: 18pt;
    }
    .wood-container {
        padding: 10% 15%;
    }
}

/* 768px for tablets - portrait */
@media screen and (max-width: 768px) {
    html {
        font-size: 16pt;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 14pt;
    }
}

/* 600px for smaller tablets */
@media screen and (max-width: 600px) {
    html {
        font-size: 12pt;
    }

    .wood-container {
        padding: 10%;
    }
}

/* 480px for phones -landscape */
@media screen and (max-width: 480px) {
    html {
        font-size: 9pt;
    }
}

/* 320px for phones -portrait */
@media screen and (max-width: 320px) {
    html {
        font-size: 7pt;
    }
}
